In [1]:
import numpy as np
import sklearn as sk

In [2]:
num_points=[int(1e3),int(1e4),int(1e6)]
num_dims=[32,64,128]
num_leaf=[40,80,120]

In [4]:
import faiss

In [5]:
import time 
from sklearn.neighbors import KDTree

query_data=list()
build_data=list()
leaf_data=list()
dims_data=list()
points_data=list()
for n in num_points:
    for d in num_dims:
        for j in num_leaf:
            X=np.random.random((n,d))
            query=np.random.random(d)
            t1=time.time()
            tree = KDTree(X, leaf_size=j)
            t2=time.time()
            build_data.append(t2-t1)
            t3=time.time()
            t4=time.time()
            ind = tree.query(query.reshape(1,-1), k=1,return_distance=False,dualtree=True)
            t5=time.time()
            query_data.append(t5-t4)
            dims_data.append(d)
            points_data.append(n)
            leaf_data.append(j)

In [6]:
import pandas as pd

In [7]:
df=pd.DataFrame({'build':build_data,'query':query_data,'dims':dims_data,
                 'points':points_data,'leaf_size':leaf_data})

In [8]:
df.head()

      build     query  dims  points  leaf_size
0  0.001497  0.000483    32    1000         40
1  0.000595  0.000260    32    1000         80
2  0.000523  0.000218    32    1000        120
3  0.000970  0.000240    64    1000         40
4  0.000707  0.000211    64    1000         80

In [9]:
df.groupby(['dims','points','leaf_size']).mean()

                            build     query
dims points  leaf_size
32   1000    40          0.001497  0.000483
             80          0.000595  0.000260
             120         0.000523  0.000218
     10000   40          0.006813  0.000451
             80          0.005319  0.000389
             120         0.004754  0.000385
     1000000 40          2.282931  0.086151
             80          2.191014  0.086480
             120         2.155429  0.079887
64   1000    40          0.000970  0.000240
             80          0.000707  0.000211
             120         0.000724  0.000206
     10000   40          0.009102  0.001189
             80          0.008282  0.000680
             120         0.008344  0.000675
     1000000 40          4.439512  0.170112
             80          4.342217  0.167158
             120         4.195280  0.157183
128  1000    40          0.001616  0.000345
             80          0.001290  0.000327
             120         0.001154  0.000278
     10000   40          0.018421  0.001966
             80          0.017933  0.002531
             120         0.016828  0.001886
     1000000 40          8.996012  0.314476
             80          9.695359  0.334767
             120        12.003017  0.287174

In [4]:
import faiss

In [10]:
import time

query_data=list()
build_data=list()
leaf_data=list()
dims_data=list()
points_data=list()
for n in num_points:
    for d in num_dims:
        X=np.random.random((n,d))
        query=np.random.random(d)
        t1=time.time()
        index = faiss.IndexFlatL2(d)
        index.add(X) 
        t2=time.time()
        build_data.append(t2-t1)
        t3=time.time()
        t4=time.time()
        D, I = index.search(query.reshape(1,-1), k=1)             
        t5=time.time()
        query_data.append(t5-t4)
        dims_data.append(d)
        points_data.append(n)

In [14]:
import pandas as pd

df_faiss=pd.DataFrame({'build':build_data,'query':query_data,'dims':dims_data,
                 'points':points_data})

In [13]:
df_faiss.groupby(['dims','points']).mean()

                 build     query
dims points
32   1000     0.002722  0.039247
     10000    0.000335  0.000063
     1000000  0.205640  0.006018
64   1000     0.000280  0.000023
     10000    0.000578  0.000100
     1000000  0.401855  0.009459
128  1000     0.000097  0.000023
     10000    0.002835  0.000195
     1000000  1.038157  0.029232

In [ ]:
0